* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  margin: 20px;
}
/* Scrolling text animation */
/* ****************************** */
.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  background-color: yellowgreen;
  width: 100%;
  position: relative;
  padding: 20px;
}

.scrolling-text div {
  width: fit-content;
  padding-left: 100%; /* 100% of the width of the parent */
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
/* ****************************** */
/* Scrolling text animation */

/* Typing text animation */
/* ****************************** */
.typed-container {
  text-align: center; /* Center the text within the container */
}
.typed,.typed-cursor {
  font-size: 2rem;
}
/* ****************************** */
/* Typing text animation */

/*  Smooth animation cards */
/* ****************************** */
.parent {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.child {
  width: 25%;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1em sans-serif;
  color: white;
  background-color: red;
  animation: animation 1s;
}
/* ****************************** */
/* Smooth animation cards */