* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin: 20px;
}
/* Scrolling text animation */
/* ****************************** */
.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  background-color: yellowgreen;
  width: 100%;
  position: relative;
  padding: 20px;
}

.scrolling-text div {
  width: fit-content;
  padding-left: 100%; /* 100% of the width of the parent */
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
/* ****************************** */
/* Scrolling text animation */

/* Typing text animation */
/* ****************************** */
.typed-container {
  text-align: center; /* Center the text within the container */
}
.typed,
.typed-cursor {
  font-size: 2rem;
}
/* ****************************** */
/* Typing text animation */

/*  Smooth animation cards */
/* ****************************** */
.parent {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.child {
  width: 25%;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1em sans-serif;
  color: white;
  background-color: red;
  animation: animation 1s;
}
/* ****************************** */
/* Smooth animation cards */

/*  button animation hover */
/* ****************************** */
.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  gap: 20px;
}
/* for all buttons */
.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.5s;
  background-color: yellowgreen;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn::after,
.btn::before {
  content: "";
  position: absolute;
  transition: 0.5s;
  z-index: -1;
}
/*the style for the 1st button  */
.btn1::after {
  top: 50px;
  left: 0;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: red;
}
.btn1:hover::after {
  top: -50px;
  left: -50px;
}
/*the style for the 2nd button  */
.btn2::after {
  border-left: 123px solid red;
  border-top: 43px solid transparent;
  bottom: -21.5px;
  left: -61.5px;
}
.btn2:hover::after {
  left: 0;
  bottom: 0;
}
.btn2::before {
  border-right: 123px solid red;
  border-bottom: 43px solid transparent;
  top: -21.5px;
  right: -61.5px;
}
.btn2:hover::before {
  top: 0;
  right: 0;
}
/*the style for the 3rd button  */
.btn3{
  -webkit-text-stroke:  0.3px white;
  color: transparent;
}

.btn3 .text{
  position: relative;
  overflow: hidden;
}
.btn3 .text::after{
  content: 'Hover Me';
  position: absolute;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  color: white;
  /* background-color: black; */
  /* top: -50%; */
  left: 0%;
  transition: 0.5s;
  /* transform: translateY(50%); */
}
.btn3:hover{
  background-color: red;

}
.btn3:hover .text::after{
  width: 100%;
}


/* button:hover {
  background-color: red;
} */
/* ****************************** */
/* button animation hover */
